.github                   export-ignore
.idea                     export-ignore
development               export-ignore
test                      export-ignore
.gitattributes            export-ignore
.gitignore                export-ignore
.gitmodules               export-ignore
mkdocs.yml                export-ignore
sonar-project.properties  export-ignore
^docs/**                  linguist-documentation
*.pkb                     linguist-language=PLSQL
*.pks                     linguist-language=PLSQL
*.sql                     linguist-language=PLSQL
*.tpb                     linguist-language=PLSQL
*.tps                     linguist-language=PLSQL
*.sh		                  text eol=lf
