sudo: required
language: python

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - NLS_LANG=AMERICAN_AMERICA.AL32UTF8
    - ORACLE_BASE=/u01/app/oracle
    - LD_LIBRARY_PATH=$ORACLE_HOME/lib
    - PATH=$PATH:$ORACLE_HOME/jdbc/lib:$ORACLE_HOME/bin
    - DATABASE_VERSION=11.2.0.2
    - ORACLE_SID=XE
    - DATABASE_NAME=XE
    - ORA_SDTZ='Europe/London' #Needed as a client parameter
    - TZ='Europe/London'       #Needed as a DB Server parameter
    - UT3_OWNER=ut3
    - UT3_OWNER_PASSWORD=ut3
    - UT3_OWNER_TABLESPACE=users
    - UT3_USER=ut3_user
    - UT3_USER_PASSWORD=ut3
    - UT3_USER_TABLESPACE=users
      # Target Branch and Directory for Deployment of Docs
    - PAGES_TARGET_BRANCH="gh-pages"
    - PAGES_VERSION_BASE="version3"

addons:
  apt:
    packages:
#packages required by oracle
      - bc
      - rpm
      - unzip


cache:
  directories:
    - .cache
    - $HOME/.cache

before_install:
# On trusty, download the zip file into a cachable directory
  - test "$DIST" = precise || export ORACLE_ZIP_DIR=$HOME/.cache
# If the zip file already exists, do not download it again
  - test -f "$ORACLE_ZIP_DIR"/$(basename $ORACLE_FILE) || bash .travis/oracle/download.sh

install:
  - sudo pip install -r .travis/python_req.txt
  - bash .travis/oracle/install.sh

script:
  - bash .travis/create_utplsql_owner.sh
  - bash .travis/create_utplsql_user.sh
  - bash .travis/install_libraries.sh
  - bash .travis/install.sh
  - bash .travis/grant_user.sh
  - bash .travis/run_examples_as_owner.sh
  - bash .travis/run_test_as_owner.sh
  - bash .travis/run_examples_as_user.sh
  - bash .travis/create_release.sh
#  - bash .travis/run_test_as_user.sh
#  - bash .travis/build_docs.sh
#  - bash .travis/push_docs_to_gh_pages.sh

deploy:
  provider: releases
  api_key: $github_api_token
  file: 
     - utPLSQL$TRAVIS_TAG.zip
     - utPLSQL$TRAVIS_TAG.tar.gz
  skip_cleanup:true
  on:
     repo: utPLSQL/utPLSQL
     tags: true

notifications:
  slack: utplsql:oiMuXO95TvKeAUENuDt4cPrB


