sudo: required
language: python

addons:
  apt:
    packages:
    #packages required for oracle
      - bc
      - rpm
      - unzip
      #Java8 required for sonar
      - oracle-java8-installer
      - oracle-java8-set-default
  sonarqube:
    token:
      secure: AmQdR1Fm0tvA9Ees1wz1RqnUl49lZrGdhWCkx7SnIzz+/1Lm2L9aH/e4bL60wIqkJ+AK8tJ1YX4L2B+i7/t5dBSH9Nj8JgbJFwHMqHdMCmaqKpvT5eJRzhbgr0kccm8ECHWTWBL+mIyXXYUm4f/tuRnnngfZS/bxtUpFUDvotcEybuuGUvKSbmc6ew5tfBuX79G/lXbFBceO6EQStoi8SeIHDkgeX/BoQQin0BFVMcsuWKPuQ5P5B19KfxubEk6tiHLZffoaF1q+RbsFcwpr4nyXHiusTRdtLmHb5DvlSQsy15qaakJP6AA073sGjnKxcGiGvP48HbC07tQmtBiZY2Ybkqj9i4aRq0hzX/VXRuZOV/rQARjItS4MKTmD9gET9XkYzc/P8VxSGRFT97guF3f6qtPzcGCu3TbFQpgeP+mgcePLvDl5j/AL+tZAAwSj3mPhEGncr5j+QkcLhl+mM5TymNeJn828qb8I7+mSdqbmPwytc//hwJLeqFJDX2GGnXZD4VkMZDvUO6gq2bQXy0hLgdI7uIQpIzIUlAGoYG6MK4SuHxnx+ZNwsW/nrMGVCJrK67Ii/R++Fg4et5QshTaTbkcQ3Deroady/pnGwlD5FR59LYpjqOVQ+4ey2bf92eGx0j0NWCz+CfirKSXd3o1hESSqamyi8KtOqkqiLEg=

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - NLS_LANG=AMERICAN_AMERICA.AL32UTF8
    - ORACLE_BASE=/u01/app/oracle
    - LD_LIBRARY_PATH=$ORACLE_HOME/lib
    - PATH=$PATH:$ORACLE_HOME/jdbc/lib:$ORACLE_HOME/bin
    - JAVA_HOME=/usr/lib/jvm/java-8-oracle/jre
    - DATABASE_VERSION=11.2.0.2
    - ORACLE_SID=XE
    - DATABASE_NAME=XE
    - ORA_SDTZ='Europe/London' #Needed as a client parameter
    - TZ='Europe/London'       #Needed as a DB Server parameter
    - UT3_OWNER=ut3
    - UT3_OWNER_PASSWORD=ut3
    - UT3_OWNER_TABLESPACE=users
    - UT3_USER=ut3_user
    - UT3_USER_PASSWORD=ut3
    - UT3_USER_TABLESPACE=users
      # Target Branch and Directory for Deployment of Docs
    - PAGES_TARGET_BRANCH="gh-pages"
    - PAGES_VERSION_BASE="version3"

cache:
  directories:
    - .cache
    - $HOME/.cache

before_install:
# On trusty, download the zip file into a cachable directory
  - test "$DIST" = precise || export ORACLE_ZIP_DIR=$HOME/.cache
# If the zip file already exists, do not download it again
  - test -f "$ORACLE_ZIP_DIR"/$(basename $ORACLE_FILE) || bash .travis/oracle/download.sh

install:
  - sudo pip install -r .travis/python_req.txt
  - bash .travis/oracle/install.sh

script:
  - bash .travis/create_utplsql_owner.sh
  - bash .travis/create_utplsql_user.sh
  - bash .travis/install.sh
  - bash .travis/grant_user.sh
  - bash .travis/run_examples_as_owner.sh
  - bash .travis/run_test_as_owner.sh
  - bash .travis/run_examples_as_user.sh
#  - bash .travis/push_docs_to_gh_pages.sh
#moved to before_deploy step
#  - bash .travis/create_release.sh
  - sonar-scanner

before_deploy:
  - bash .travis/create_release.sh

deploy:
  provider: releases
  api_key: $github_api_token
  file:
     - utPLSQL$TRAVIS_TAG.zip
     - utPLSQL$TRAVIS_TAG.tar.gz
  skip_cleanup: true
  on:
     repo: utPLSQL/utPLSQL
     tags: true

notifications:
  slack: utplsql:oiMuXO95TvKeAUENuDt4cPrB
